<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование профиля</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
      body
        {
          background-image: url("https://phonoteka.org/uploads/posts/2022-02/1645280033_48-phonoteka-org-p-cherno-krasnii-fon-anime-58.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }

    </style>
</head>

<body>
<div th:insert="blocks/header"></div>
<div th:object="${user}" class="page">
    <form th:action="${'/profile/edit/' + user.id}" method="post" style="width: 70%; margin: auto;">
        <span class="div-valid" th:if="${surname_errors != null}" th:text="${surname_errors}"></span>
        <span class="div-valid" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
        <div>
            <label> Фамилия: <input th:field="*{surname}" th:value="${user.surname}" type="text"
                                    name="surname"
                                    placeholder="Фамилия" class="form-control"></label>
        </div>
</br>
        <span class="div-valid" th:if="${name_errors != null}" th:text="${name_errors}"></span>
        <span class="div-valid" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <div>
            <label> Имя: <input th:field="*{name}" th:value="${user.name}" type="text" name="name"
                                placeholder="Имя" class="form-control"></label>
        </div>
</br>
        <span class="div-valid" th:if="${patronymic_errors != null}" th:text="${patronymic_errors}"></span>
        <span class="div-valid" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></span>
        <div>
            <label> Отчество: <input th:value="${user.patronymic}" type="text" name="patronymic"
                                     placeholder="Отчество" class="form-control"></label>
        </div>
</br>
        <span class="div-valid" th:if="${password_errors != null}" th:text="${password_errors}"></span>
        <span class="div-valid" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <div>
            <label> Актуальный пароль: <input th:field="*{password}" th:value="${user.password}" type="password"
                                              th:name="currentPassword"
                                              placeholder="Введите ваш пароль" class="form-control"></label>
        </div>
        </br>
        <button type="submit" class="button">Сохранить</button>
    </form>
</div>
</body>
</html>